
.wrapper {
    width: 400px;
}

.header {
    height: 100px;
    background-color: #141f40;
}

.clearfix::after { 
    content: ''; 
    display: block; 
    clear: both;
}

.left {
    float: left;
    height: 250px;
    width: 150px;
    background-color: #80bfa8;
}

.right {
    float: left;
    height: 250px;
    width: 250px;
    background-color: #8c2727;
}

.footer {
    height: 100px;
    background-color: #d98d30;
}